Market Analysis Report for National Clothing Chain.docx
Market Analysis Report for National Clothing Chain/Project +Market+Analysis+Report+for+National+Clothing+Chain+Subtitles.zip
Market Analysis Report for National Clothing Chain/Project +Market+Analysis+Report+for+National+Clothing+Chain+Vedios.zip

Seven Sages Tea Company (SSTC)/Malek Alajil - Solution.zip
Seven Sages Tea Company (SSTC)/source-files.zip

Waggle Project/marketing-collateral.zip
Waggle Project/WaggleProject.zip
